@media (max-width:400px){
    .header .header-btn{
        width: 120px;
        height: 45px;
        font-size: 14px;
        font-weight: 500;
        margin-left: 10px;
    }
}

@media  (max-width:1024px) {
    .container{
        width: 90%;
        margin: auto;
    }
    .header img{
        width: 80px;
        height: 20px;
    }
    .info-text h1{
        font-size: 40px;
    }

    .info-text p{
        width: 95%;
    }

    .header .header-btn{
        width: 152px;
        height: 48px;
    }
    .info .info-img .img-hero-desktop{
        display: none;

    }

    .info .info-img .img-hero-tablet{
        display: flex;
        margin-right: -330px;
        margin-top: -145px;
    }

    .courses-content-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        justify-items: center;
    }

    #photography-text p{
        padding-bottom: 35px;
    }
}

@media (max-width:600px) {
    .container{
        width: 90%;
    }

    .header{
        margin-top: 16px;
    }

    .header .header-btn{
        width: 168px;
        height: 59px;
        font-size: 18px;
    }
    .info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .info-text{
        margin-top: 64px;
    }

    .info-text p{
        width: 85%;
    }

    .info .info-img .img-hero-tablet{
        display: none;
    }

    .info .info-img .img-hero-mobile{
        display: flex;
        margin-top: 82px;
    }

    .courses-content-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        justify-items: center;
    }

    #photography-text p{
        padding-bottom: 35px;
    }
}